.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #f8f9fa;
    margin: auto;
    padding: 1.5rem; 
    border: 1px solid #dee2e6;
    border-radius: 4px;
  }
  
  .counter button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
  }
  
  .counter button:hover {
    background-color: #0056b3;
  }
  
  .counter p {
    margin: 0 20px; 
    font-size: 24px; 
    font-weight: bold;
    color: #333;
  }
  